@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tickerbit';
  src: url('/fonts/Tickerbit-regular.otf');
}
@font-face {
  font-family: 'SpaceMono';
  src: url('/fonts/SpaceMono-Regular.ttf');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tickerbit, sans-serif;
  /* border: 1px solid red; */
}
@keyframes scroll {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}
.scroll-animate {
  animation: scroll 50s linear 1s infinite;
}
